<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/downloads/bootstrap-5.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/public/css/main.css">
    <script src="../src/downloads/bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../src/downloads/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="../src/downloads/fontawesome-free-5.15.4-web/js/all.min.js"></script>
</head>

<body class="bodyError">
    <div class="container">
        <div class="row mt-2">
            <div class="d-flex justify-content-center mb-2 mt-1">
                <div class="text-danger pe-1 h5">The file</div>
                <div id="fileError" class="text-warning pe-1 h5"></div>
                <div class="text-danger pe-1 h5">is not a compresion file</div>
            </div>
        </div>
        <div class="row mt-2">
            <button type="button" class="btn btnClose btn-danger btn-lg botonesMenuErrores"
                onclick="cerrarErrorInstallTextures()">Close</button>
        </div>
    </div>
    <script src="../src/public/renderer.js"></script>
</body>

</html>