<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/downloads/bootstrap-5.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/public/css/main.css">
    <script src="../src/downloads/bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../src/downloads/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../src/downloads/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="../src/downloads/fontawesome-free-5.15.4-web/js/all.min.js"></script>
    <title>Elegir version</title>
</head>

<body class="bodyError">
    <div class="container">
        <div class="row mt-2">
            <h1 class="text-danger">Error: Couldn't found version</h1>
        </div>
        <div class="row mt-2">
            <button type="button" class="btn btn-danger btn-lg"
                onclick="cerrarError()">Close</button>
        </div>
    </div>
    <script src="../src/public/renderer.js"></script>
</body>

</html>