<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/downloads/bootstrap-5.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/public/css/main.css">
    <script src="../src/downloads/bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../src/downloads/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="../src/downloads/fontawesome-free-5.15.4-web/js/all.min.js"></script>
</head>

<body class="bodyMain">

    <div id="notification" class="hidden">
        <p id="message"></p>
        <button id="close-button" onClick="closeNotification()">
            Close
        </button>
        <button id="restart-button" onClick="restartApp()" class="hidden">
            Restart
        </button>
    </div>

    <div class="container">
        <div class="row">
            <div class="row mt-5 text-center">
                <img src="../src/public/img/Minecraft-Manager.png" class="tituloImagen">
            </div>
            <div class="botonesMenuContainer">
                <div class="row mt-2">
                    <button id="instalarModsPrinci" type="button" class="btn btn-dark btn-lg botonesMenuPrinci"
                        onclick="elegirVersion()">Install MODS</button>
                </div>
                <div class="row mt-2">
                    <button type="button" class="btn btn-dark btn-lg botonesMenuPrinci">Create world backups</button>
                </div>
                <div class="row mt-2">
                    <button type="button" class="btn btn-dark btn-lg botonesMenuPrinci">Start server</button>
                </div>
                <div class="row mt-2">
                    <button type="button" class="btn btnClose btn-danger btn-lg botonesMenuPrinci"
                        onclick="cerrarApp()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../src/public/renderer.js"></script>
</body>

</html>