@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 400;
    src: local('Minecraft'), url('../../downloads/fonts/MinecraftTen-VGORe.woff') format('woff');
}

.bodyMain {
    background-image: url("../img/fondo2.jpg")
}

.paragraph {
    font-size: 8vh;
}

.btn {
    border: none !important;   
}

.btn:hover {
    background: transparent;
    -webkit-text-stroke: 1.5px black;
}

.btnClose:hover {
    color: red;
    -webkit-text-stroke: 1.5px black;
}

.btnSuccess:hover {
    color: rgb(51, 255, 0);
    -webkit-text-stroke: 1.5px black;
}

.selectFilesMods {
    height: 30vh;
}

.bodyInstalarMods {
    background-image: url("../img/fondo2.png")
}

.paragraph-small {
    font-size: 4vh;
}

.bodyError {
    background-color: black;
}

.tituloImagen {

}

.subTitleMenu {
    font-size: 9vh;
}

.botonesMenuContainer {
    margin-top: 14vh;
}

.botonesMenuErrores {
    font-size: 10vh;
}

.botonesMenuPrinci {
    font-size: 5vh;
}

* {
    font-family: 'Minecraft';
    color: black;
}